<% if (!locals.user) { %>
<div class="hero-unit">
	<h1>Welcome to Microblog</h1>
	<p> Microblog is a blog system based on <b>Node.js</b> and <b>Express framwork</b></p>
	<p>
		<a class="btn btn-primary btn-large" href="/login">Login</a>
		<a class="btn btn-large" href="/reg">Register now</a>
	</p>
</div>
<% } else { %>
	<%- partial('say') %>
<% } %>
<%- partial('posts', {posts: posts}) %>
